name: Test tap-pomelo

on:
  push:
    branches: [main]
    paths:
    - tap_pomelo/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - tap_pomelo/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

permissions:
  contents: read

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.28
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.34.1
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        python-version:
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        version: ${{ env.UV_VERSION }}
    - name: Run
      env:
        TAP_POMELO_API_URL: ${{ secrets.TAP_POMELO_API_URL }}
        TAP_POMELO_AUDIENCE: ${{ secrets.TAP_POMELO_AUDIENCE }}
        TAP_POMELO_CLIENT_ID: ${{ secrets.TAP_POMELO_CLIENT_ID }}
        TAP_POMELO_CLIENT_SECRET: ${{ secrets.TAP_POMELO_CLIENT_SECRET }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e py$(echo ${{ matrix.python-version }} | tr -d .)

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
      with:
        python-version: 3.x
    - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        version: ${{ env.UV_VERSION }}
    - env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --from tox==${{ env.TOX_VERSION }} tox
    - name: Static type checking
      run: tox -e typing
